.gift_body{
    display: flex;
    flex-direction: row;
    padding: 5%;
    margin-top: auto;
    justify-content: space-between;
}

.addGift{
    text-align: center;
    background-color: #BED8D9;
    width: 20rem;
    padding: 2rem 1rem;
    /*height: 500px;*/
    box-shadow:  0 1px 7px rgb(128, 128, 128);
}

.form_controller input{
    width: 15rem;
    height: 30px;
    margin-bottom: 6%;
    border: 1px solid #ccc;
}

.form_controller input:focus {
    outline: none;
    border-color: #8b005d;
}

.form_controller.invalid input{
    width: 15rem;
    height: 30px;
    margin-bottom: 6%;
    border-color: red;
    background-color: salmon;
}

.addGift form button{
    background-color: #46B3E6;
    border: none;
    box-shadow: 0 1px 7px rgb(128 128 128);
    color: white;
    width: 35%;
    height: 50px;
    font-size: 16px;
    /* border-radius: 20px; */
    font-weight: 500;
    cursor: pointer;
}
textarea{
    width: 75%;
    height: 50px;
}

@media screen and (max-width:600px) {
    .gift_body{
        flex-direction: column-reverse;
    }
    
    .addGift{
        width: auto;
        margin-top: 1rem;
    }
}